<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

	<title>{ifset title}{include title|stripHtml} | {/ifset}TechFides - Kosmonauti</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{$basePath}/bower-plugins/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{$basePath}/bower-plugins/font-awesome/css/font-awesome.min.css">
    <!-- Ublaboo datagrid -->
    <!-- Use this css for that pretty checkboxes (https://github.com/paveljanda/happy) -->
    <link rel="stylesheet" type="text/css" href="{$basePath}/bower-plugins/happy/dist/happy.css">
    <link rel="stylesheet" type="text/css" href="{$basePath}/bower-plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css">
    <link rel="stylesheet" type="text/css" href="{$basePath}/bower-plugins/ublaboo-datagrid/assets/dist/datagrid.css">
    <!-- Use this css for ajax spinners -->
    <link rel="stylesheet" type="text/css" href="{$basePath}/bower-plugins/ublaboo-datagrid/assets/dist/datagrid-spinners.css">
    <!-- Main style -->
    <link rel="stylesheet" href="{$basePath}/css/style.css">

    <!-- jQuery -->
    <script src="{$basePath}/bower-plugins/jquery/dist/jquery.min.js"></script>
    <!-- Popper -->
    <script src="{$basePath}/bower-plugins/popper.js/dist/umd/popper.min.js"></script>
    <!-- Bootstrap -->
    <script src="{$basePath}/bower-plugins/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Nette ajax -->
    <script src="{$basePath}/bower-plugins/nette.ajax.js/nette.ajax.js"></script>
    <!-- Nette forms & Nette live form validation -->
    <script src="{$basePath}/bower-plugins/nette-live-form-validation/live-form-validation.js"></script>
    <!-- Ublaboo datagrid -->
    <!-- Use this tiny js for that pretty checkboxes (https://github.com/paveljanda/happy) -->
    <script src="{$basePath}/bower-plugins/happy/dist/happy.js"></script>
    <script src="{$basePath}/bower-plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
    <script src="{$basePath}/bower-plugins/bootstrap-datepicker/dist/locales/bootstrap-datepicker.cs.min.js"></script>
    <script src="{$basePath}/bower-plugins/jquery-ui-sortable/jquery-ui-sortable.js"></script>
    <script src="{$basePath}/bower-plugins/ublaboo-datagrid/assets/dist/datagrid.js"></script>
    <!-- It is recommended to include this JS file with just a few bits. It refreshes URL on non ajax request -->
    <script src="{$basePath}/bower-plugins/ublaboo-datagrid/assets/dist/datagrid-instant-url-refresh.js"></script>
    <!-- Use this little extension for ajax spinners -->
    <script src="{$basePath}/bower-plugins/ublaboo-datagrid/assets/dist/datagrid-spinners.js"></script>
    <!-- Main javascript -->
    <script src="{$basePath}/js/main.js"></script>
</head>

<body>
    <div class="container">
        <div class="header clearfix">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation"><a href="#addEditUserModal" data-toggle="modal">Přidat kosmonauta</a></li>
                </ul>
            </nav>
            <h3 class="text-muted">TechFides - Kosmonauti</h3>
        </div>

        <div n:foreach="$flashes as $flash" class="alert alert-{$flash->type}">{$flash->message}</div>

        {include content}

        <footer class="footer">
            <p>&copy; Company {date('Y')}</p>
        </footer>

    </div> <!-- /container -->
</body>
</html>
