<!-- Modal -->
<div class="modal fade" id="{$modalId}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Zavřít"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{$modalTitle}</h4>
            </div>
            <form n:name="$form">
                <div class="modal-body">
                    {foreach $form->controls as $input}
                        {if $input instanceof Nette\Forms\Controls\SubmitButton}
                            {capture $modalFooter}
                                {input $input, class => 'btn btn-success'}
                            {/capture}
                        {elseif $input instanceof Nette\Forms\Controls\HiddenField}
                            {input $input}
                        {elseif $input instanceof Nette\Forms\Controls\CheckBox}
                            <div class="checkbox">
                                {input $input}
                            </div>
                        {else}
                            {var $class = 'form-control'}
                            {if $input->control->class}
                                {php $class .= ' ' . implode(' ', $input->control->class)}
                            {/if}
                            <div class="form-group">
                                {label $input /}
                                {input $input, class => $class}
                            </div>
                        {/if}
                    {/foreach}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Zavřít</button>
                    {$modalFooter|noescape}
                </div>
            </form>
        </div>
    </div>
</div>
